{% extends '::layout.html.twig' %}

{% block content %}
    <ol class="posts hatom">
        <li class="hentry">
            <h2>
				<a rel="chapter" href="{{ path('code_list', { 'category': code.category.name}) }}">{{ code.category.title }}</a>
				/
				<a rel="bookmark" class="entry-title" href="{{ path('code_view', { 'category': code.category.name, 'id': code.id }) }}">Говнокод #{{ code.id }}</a>
			</h2>
            <p class="vote">
                <strong class="just-rating{% if code.rating < 0 %} bad{% endif %}" title="{{ code.votesOn }} за и {{ code.votesAgainst }} против">{% if code.rating > 0 %}+{% elseif code.rating < 0 %}&minus;{% endif %}{{ code.rating|abs }}</strong>
            </p>
            <div class="entry-content">
                <pre><code>{{ code.body }}</code></pre>
            </div>

            <p class="description">
                {{ code.description|nl2br }}
            </p>

            <p class="author">
                {% if code.user %}
                    <a href="{{ path('user_view', { 'id': code.user.id }) }}"><img src="{{ user_avatar_url(code.user, 20) }}" title="Аватар {{ code.user.username }}" alt="" class="avatar" /></a> <a href="{{ path('user_view', { 'id': code.user.id }) }}">{{ code.user.username }}</a>,
                {% else %}
                    <img src="{{ asset('/files/avatars/guest_20.png') }}" title="Аватар guest" alt="" class="avatar" /> guest,
                {% endif %}
                <abbr title="{{ code.createdAt|date('c') }}">{{ code.createdAt|format_date('d MMMM Y') }}</abbr>
            </p>

            {% render(controller('GovnokodCommentBundle:Thread:list' ,{ '_route': 'code_comments_list', 'code_id': code.id })) %}
        </li>
    </ol>
{% endblock %}
