{% extends '::layout.html.twig' %}

{% block body %}
        <div class="navbar navbar-primary">
            <div class="navbar-inner"></div>
        </div>

        <div class="wrap">
            <div class="container">
                <div class="bread-crumbs">
                    <a href="{{ path('product_view_slug', { 'slug': product.slug, 'id': product.id }) }}"><i class="g-sprite arrow-lt"></i> вернуться на страницу товара</a>
                </div>
                
                <p class="lead">Ответ на комментарий по товару: <a href="{{ path('product_view_slug', { 'slug': product.slug, 'id': product.id }) }}" class="text-gray">«{{ product.title }}»</a></p>
                
                <ul class="messages messages-salon">
                    <li>
                        {% if comment.sender %}
                        <a href="{{ path('fos_user_profile_view', { 'id': comment.sender.id }) }}"><img src="{{ user_avatar_url(comment.sender, 40) }}" width="40" height="40" alt=""> <strong>{{ comment.sender }}</strong></a>, <small class="muted">{{ comment.createdAt|date('d F Y H:i') }}</small>
                        {% else %}
                        <img src="{{ user_avatar_url(null, 40) }}" width="40" height="40" alt=""> <strong>Гость</strong>, <small class="muted">{{ comment.createdAt|date('d F Y H:i') }}</small>
                        {% endif %}
                        <p>{{ comment.body|nl2br }}</p>
                        
                        <form action="{{ path(route_name, route_params) }}" method="post" class="form-submit">
                            <div class="message-answer">
                                {{ form_errors(form) }}
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form.answer, { 'attr': { 'class': 'span9 ctrlenter', 'rows': 4 } }) }}
                                        {{ form_errors(form.answer) }}
                                    </div>
                                </div>
                                
                                <div class="control-group">
                                    <div class="controls">
                                        {{ form_widget(form._token) }}
                                        <button class="btn">Ответить</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}