<div class="entry-comments">
    <h3 id="comments">Комментарии (<span class="entry-comments-count">{{ thread.commentsCount }}</span>){# <span class="rss"><a href="#" rel="alternative">RSS</a></span>#}</h3>
    <ul id="comments_">
{% for comment in comments %}
{% if loop.index > 1 %}{{ ul_tree(comment.level, last_tree_level) }}{% endif %}
        <li class="hcomment">
            <div id="comment-{{ comment.id}}" class="entry-comment-wrapper">
	            <p class="entry-info">
	                {% if comment.sender %}
	                <img class="avatar" src="{{ user_avatar_url(comment.sender, 28) }}" alt="ava" title="Аватар" />
	                <strong class="entry-author"><a href="#">{{ comment.sender.username }}</a></strong>
	                {% else %}
	                <img class="avatar" src="{{ asset('/images/avatars/guest_28.png') }}" alt="ava" title="Аватар" />
	                <strong class="entry-author"><a href="#">Гость</a></strong>
	                {% endif %}
	                <time class="published timeago" datetime="{{ comment.createdAt|date('c') }}" title="{{ comment.createdAt|date('c') }}">{{ comment.createdAt|date('r') }}</time>
	                <a href="{{ path('code_view', { 'category': code.category.name, 'id': code.id }) }}#comment{{ comment.id }}" id="comment{{ comment.id }}" title="Ссылка на комментарий" class="comment-link">#</a>
	                {#
	                <span class="comment-vote">
	                    <?php //echo $this->render('comments/rating.tpl', array('comment' => $comment)); ?>
	                </span>
	                #}
	            </p>
	            <div class="entry-comment">
	                <span class="comment-text">{{ comment.body }}</span>
	            </div>
	            
	            <a href="{{ path('code_comments_list', { 'code_id': code.id, reply: comment.id }) }}" class="post-comment" data-reply-to="{{ comment.id }}">Ответить</a>
            </div>
            <ul><li id="reply_form_holder_{{ comment.id }}"></li></ul>
{% set last_tree_level = comment.level %}
{% if loop.last %}{{ ul_tree(1, last_tree_level) }}{% endif %}
{% endfor %}
    </ul>
    
    <h3><a href="{{ path('code_comments_list', { 'code_id': code.id }) }}" class="post-comment selected">Добавить комментарий</a></h3>
    <div class="root-comment-form-holder">
        {% include 'GovnokodCommentBundle:Thread:Code/form.html.twig' %}
    </div>
</div>